*{
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}

.__main{
    max-width: 90%;
    margin: auto;
    background-color: #f0f0f0;
    min-height: 80vh;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    padding-left: 0;
}